{% extends "layout.html" %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/blog.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>Welcome to my blog!</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

<main role="main" class="container">
      <div class="row">
        <div class = "col-md-1"></div>
        <div class="col-md-10">
           {% for post in posts %}
              <article class="media content-section">
                <div class="media-body">
                  <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <div class="article-metadata">
                    <small class="text-muted">{{ post.date_posted }}</small>
                  </div>
                  <p class="article-content">{{ post.content }}</p>
                </div>
              </article>
          {% endfor %}
        </div>
      </div>
    </main>
{% endblock content %}
