{% extends "layout.html" %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/cashback2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>Cash Back Optimizer</h2>
            <span class="subheading">Made with love. And Python.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<main role="main" class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-12 col-md-offset align="center"">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

    <div class="formwrapper">
        <legend class="border-bottom mb-4">Enter monthly credit card spendings below ($):</legend>
        <form method="POST" action="/cashback#result">
            {{ form.hidden_tag() }}

                <div class="form-group row">{{ form.total.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.total(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.groceries.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.groceries(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.gas.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.gas(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.restaurants.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.restaurants(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.entertainment.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.entertainment(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.travel.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.travel(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.utilities.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.utilities(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.cell_carrier.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.cell_carrier(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.gym.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.gym(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.online_shopping.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.online_shopping(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.amazon.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.amazon(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.home_improvement.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.home_improvement(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.internet.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.internet(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.sporting_goods.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.sporting_goods(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.apple.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.apple(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.foreign_transaction.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.foreign_transaction(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.rideshare.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.rideshare(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.amazon_member.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> &nbsp&nbsp&nbsp{{ form.amazon_member(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.costco_member.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> &nbsp&nbsp&nbsp{{ form.costco_member(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.sams_member.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4">  &nbsp&nbsp&nbsp{{ form.sams_member(class="form=control form-control-lg")}}</div></div>


                <div class="form-group row">{{ form.boa_amt.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> $ {{ form.boa_amt(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row">{{ form.num_cards.label(class="form=control-label col-sm-6")}}
                <div class="col-sm-4"> &nbsp&nbsp&nbsp{{ form.num_cards(class="form=control form-control-lg")}}</div></div>

            <div class="form-group col-sm-6"><div class="col-sm-4">{{ form.submit(class="btn btn-outline-info")}}</div>

            </div>
        </form>

{% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    Error: {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}

{% if best_combo != None %}
<br>
    <h2 id='result'>Your optimal selection of credit cards is:</h2>
    <br>
    {% for card_row in best_combo | batch(3) %}
        <!-- /.row -->
        <div class="row">
        {% for card in card_row %}
            {% if card >= 15 and card <= 24 %}
                {% set id = "usbank" %}
            {% elif card > 24 %}
                {% set id = "boa" %}
            {% else %}
                {% set id = card %}
            {% endif %}
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <a href="{{cc_urls[id]}}" target="_blank"><img class="card-img-top" src="../static/img/CC_Images/{{id}}.jpg" alt=""></a>
              <div class="card-body"><h4 class="card-title">{{card_names[card]}}</h4>
                {% if id == 'usbank' %}
                    <p class="card-text"> Choose the following 2 categories for cash back:</p>
                {% elif id == 'boa' %}
                    {% set cb = 3%}
                    <p class="card-text"> {% if mult > 1 %}Your capital in existing Bank of America accounts qualifies you as a
                                            {% if mult < 1.3%} <b>Gold</b>{%set cb = 3.75 %} {% elif mult < 1.6 %} <b>Platinum</b> {%set cb = 4.5 %}
                                            {% else %} <b>Platinum Honors</b> {%set cb = 5.25 %}{% endif%} Rewards Member! {% endif %}</p>
                                        <p>Choose the following category for <b>{{cb}}</b>% cash back: </p>
                {% else %}
                    <p class="card-text"> {% include 'card_descriptions/%s.html' % id %}</p>

                {% endif %}
                {% for key, val in select_cat.items() %}
                      {% if (key == 'us_bank' and id == "usbank") or
                            (key == 'boa' and id == "boa") %}
                        {% for cat in val %}
                            <li>{{ cat|replace("_", " ")}}</li>
                        {% endfor %}
                      {% endif %}
                {% endfor %}
                {% for key, val in member_rec.items() %}
                    {% if key == 'AMZN' and id == 3 %}
                        <p class="card-text"> Given your spending, you should purchase an Amazon membership at <b>$119/year</b></p>
                    {% elif key == 'COSTCO' and id == 0%}
                        <p class="card-text"> Given your spending, you should purchase a Costco membership at <b>$60/year</b></p>
                    {% elif key == 'SC' and id == 11%}
                        <p class="card-text"> Given your spending, you should purchase a Sam's Club membership at <b>$45/year</b></p>
                    {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    {% endfor %}
    After all applicable fees, you would be earning <b>{{ "${:,.2f}".format(annual_cb)}}</b> per year in cash back!
{% endif %}
    </div>
        </div>
      </div>
    </main>
{% endblock content %}
