{% extends "layout.html" %}
{% block content %}

  <!-- Page Header -->

  <header class="masthead" style="background-image: url('../static/img/cashback-min.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>Cash Back Optimizer</h2>
            <span class="subheading">Made with love. And Python.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<main role="main" class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-12 col-md-offset align="center"">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

<div class="col-sm-2"></div>
    <div class="col-sm-10"></div>

    <div class="formwrapper">
        <legend class="border-bottom mb-4">Enter approximate monthly credit card spendings below ($):</legend>
        <form method="POST" action="/cashback#result">
            {{ form.hidden_tag() }}


                <div class="form-group row"><div class="col-sm-6">{{ form.groceries.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Stores like Aldi, Kroger, Meijer, Giant Eagle, Whole Foods, etc. Does not include wholesale or big-box stores such as Costco, Walmart, and Sam's Club.</p>
                </div></div>


                <div class="col-sm-4"> $ {{ form.groceries(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.gas.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Purchases made at merchants that primarily sell gas. Does not include gas sold at grocery stores.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.gas(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.restaurants.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Merchants whose primary business is sit-down or eat-in dining, including fast food restaurants, as well as fine-dining establishments. </p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.restaurants(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.entertainment.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Broad category, includes movie theaters, plays, concerts, sporting events, tourist attractions, theme parks, aquariums, zoos, dance clubs, bowling alleys, pool halls, record stores, and video rental locations.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.entertainment(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.travel.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Airfare, hotels, car rental, travel agencies. <br /><br /><b>Tip:</b> Divide annual travel spending by 12 to calculate average monthly spending.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.travel(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.utilities.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>If able to pay utilities by card, this includes bills paid directly to your household utility providers. Excludes internet, cable, and telecom service providers, cell phone services, security system services, and similar merchants.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.utilities(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.cell_carrier.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Phones and accessories purchased directly from your cell phone service provider as well as bill payments made to your provider.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.cell_carrier(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.gym.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Membership fees at most sports and recreation facilities. </p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.gym(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.online_shopping.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>All online and in-app purchases not made on Amazon.com.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.online_shopping(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.amazon.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Purchases made on Amazon.com or the Amazon mobile app.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.amazon(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.home_improvement.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Hardware store supplies, furniture, tools, contractors (plumbers, electricians, landscapers, and carpenters).</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.home_improvement(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.internet.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Bills paid directly to your cable and internet service providers, as well as online streaming services.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.internet(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.sporting_goods.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Dick's Sporting Goods, Cabela's, Bass Pro, REI, and similar merchants.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.sporting_goods(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.apple.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Apple Pay purchases made directly with Apple (including Apple stores, within the App Store and for Apple services). <br /><br /><b>Tip:</b> Divide annual spending on Apple by 12 to calculate average monthly spending.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.apple(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.foreign_transaction.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Total amount of spending (regardless of category) in foreign countries or on foreign websites that would induce a foreign transaction fee.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.foreign_transaction(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.rideshare.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Includes ride sharing services (Uber, Lyft), parking, taxi cabs, train fares, tolls, ferries, buses, subways, etc.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.rideshare(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.total.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Total amount paid with credit card(s) per month, regardless of category. Does not necessarily equal the sum of previous categories.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.total(class="form=control form-control-lg")}}</div></div>


                <div class="form-group row"><div class="col-sm-6">{{ form.amazon_member.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Check the box if you are currently an Amazon Prime member.</p>
                </div></div>
                <div class="col-sm-4"> &nbsp&nbsp&nbsp{{ form.amazon_member(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.costco_member.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Check the box if you are currently a Costco member (any level).</p>
                </div></div>
                <div class="col-sm-4"> &nbsp&nbsp&nbsp{{ form.costco_member(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.sams_member.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Check the box if you are currently a Sam's Club member (any level).</p>
                </div></div>
                <div class="col-sm-4">  &nbsp&nbsp&nbsp{{ form.sams_member(class="form=control form-control-lg")}}</div></div>


                <div class="form-group row"><div class="col-sm-6">{{ form.boa_amt.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Capital in existing BOA accounts may qualify you for additional cash back.</p>
                </div></div>
                <div class="col-sm-4"> $ {{ form.boa_amt(class="form=control form-control-lg")}}</div></div>

                <div class="form-group row"><div class="col-sm-6">{{ form.num_cards.label(class="form=col-sm-2 col-form-label")}}</div>
                <div class="col-sm-1"><div class="help-tip">
                    <p>Number of cards used to maximize cash back. If an additional card will not increase cash back, it will not be shown.</p>
                </div></div>
                <div class="col-sm-4"> &nbsp&nbsp&nbsp{{ form.num_cards(class="form=control form-control-lg")}}</div></div>

            <div class="form-group col-sm-6"><div class="col-sm-4">{{ form.submit(class="btn btn-outline-info")}}</div>

            </div>
        </form>

{% for field, errors in form.errors.items() %}
<div class="alert alert-error" id="result">
    <font color="red"> <b>Error:&nbsp;&nbsp;</b> {{ form[field].label }} - {{ ', '.join(errors) }}.</font>
</div>
{% endfor %}

{% if best_combo != None %}
<br>
    <h2 id='result'>Your optimal selection of credit cards is:</h2>
    <br>
    {% for card_row in best_combo | batch(3) %}
        <!-- /.row -->
        <div class="row">
        {% for card in card_row %}
            {% if card >= 15 and card <= 24 %}
                {% set id = "usbank" %}
            {% elif card > 24 %}
                {% set id = "boa" %}
            {% else %}
                {% set id = card %}
            {% endif %}
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <a href="{{cc_urls[id]}}" target="_blank"><img class="card-img-top" src="../static/img/CC_Images/{{id}}.jpg" alt=""></a>
              <div class="card-body"><h4 class="card-title">{{card_names[card]}}</h4>
                {% if id == 'usbank' %}
                    <p class="card-text"> Choose the following 2 categories for <b>5%</b> cash back:</p>
                {% elif id == 'boa' %}
                    {% set cb = 3%}
                    <p class="card-text"> {% if mult > 1 %}Your capital in existing Bank of America accounts qualifies you as a
                                            {% if mult < 1.3%} <b>Gold</b>{%set cb = 3.75 %} {% elif mult < 1.6 %} <b>Platinum</b> {%set cb = 4.5 %}
                                            {% else %} <b>Platinum Honors</b> {%set cb = 5.25 %}{% endif%} Rewards Member! {% endif %}</p>
                                        <p>Choose the following category for <b>{{cb}}%</b> cash back: </p>
                {% else %}
                    <p class="card-text"> {% include 'card_descriptions/%s.html' % id %}</p>

                {% endif %}
                {% for key, val in select_cat.items() %}
                      {% if (key == 'us_bank' and id == "usbank") or
                            (key == 'boa' and id == "boa") %}
                        {% for cat in val %}
                            {% if cat == 'Cable/Satellite'%}
                                {% set cat = 'Internet/Cable/Streaming' %}
                            {% endif %}
                            <li>{{ cat|replace("_", " ")}}</li>
                        {% endfor %}
                      {% endif %}
                {% endfor %}
                {% for key, val in member_rec.items() %}
                    {% if key == 'AMZN' and id == 3 %}
                        <p class="card-text"> Given your spending, you should purchase an Amazon membership at <b>$119/year</b></p>
                    {% elif key == 'COSTCO' and id == 0%}
                        <p class="card-text"> Given your spending, you should purchase a Costco membership at <b>$60/year</b></p>
                    {% elif key == 'SC' and id == 11%}
                        <p class="card-text"> Given your spending, you should purchase a Sam's Club membership at <b>$45/year</b></p>
                    {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    {% endfor %}
    After all applicable fees, you would be earning <b>{{ "${:,.2f}".format(annual_cb)}}</b> per year in cash back!
{% endif %}
    </div>
        </div>
      </div>
    </main>
{% endblock content %}
