{% extends "layout.html" %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/homepage-min.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Hi, I'm Michael - a graduate student <br/>at Purdue University. </h2>
            <span class="subheading">I've leveraged the power of data to save millions of dollars for Meijer, designed software for uncertainty quantification at NASA, and built frameworks around brain imaging data.
            Now, I'm pursuing a career in data science. </span>
          </div>
        </div>
      </div>
    </div>
  </header>



 <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5"></div>
        <div class="col-md-4 mb-5">
            <center><h2 align="center", id="projects">Projects</h2></center>
      </div>

    </div>

    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="{{url_for('cashback')}}" ><img class="card-img-top" src="../static/img/CC_Images/3.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Cash back optimizer</h4>
            <p class="card-text">Input your monthly spending in various categories and this web app will calculate the optimal combination of credit cards to maximize your cash back! Built with Python. <br/><br/>Try it for yourself! </p>
          </div>
          <div class="card-footer">
            <a href="/cashback" class="btn btn-primary">Check it out</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="/epidemic/epidemic" target="_blank"><img class="card-img-top" src="../static/img/sir.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Epidemic Modeling</h4>
            <p class="card-text">Led a team of 5 in building a tool to simulate the spread of disease and analyze mitigation strategies. Includes population synthesis, database design, disease spread simulation, and web design. Built with R, SQL, HTML/CSS, and more.</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/mwang29/epidemic_model" class="btn btn-primary">GitHub</a>
            <a href="/epidemic/epidemic" target="_blank" class="btn btn-primary">Website</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://github.com/nasa/SMCPy" target="_blank"><img class="card-img-top" src="../static/img/smcpy.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">SMCPy</h4>
            <p class="card-text">Sequential Monte Carlo in Python. During my internship at NASA, I created new modules and refactored this Python package for uncertainty quantification. It is used for applications like crack diagnosis and landing area prediction. </p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/nasa/smcpy" target="_blank" class="btn btn-primary">GitHub</a>
          </div>
        </div>
      </div>

    </div>

        <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://github.com/mwang29/ltc_project" target="_blank"><img class="card-img-top" src="../static/img/ltc.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Long term care facilities</h4>
            <p class="card-text">Web scraped data of Indiana's Long Term Care Facilities to plot each facility on a map of the state according to their type and beds available. Project for the Regenstrief Center of Healthcare Engineering. Built with Python.</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/mwang29/ltc_project" target="_blank" class="btn btn-primary">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://github.com/mwang29/personal_website" target="_blank"><img class="card-img-top" src="../static/img/website.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Personal website</h4>
            <p class="card-text">You're looking at it right now! I taught myself Flask and basic HTML/CSS to make my own corner of the Internet. I've published the source code on my GitHub profile; feel free to check it out below!</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/mwang29/personal_website"  target="_blank"class="btn btn-primary">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://docs.google.com/spreadsheets/d/18oNmPEYWT3m7j1UW1nst1okqB3AA_yoa6gBuJTZGVhI/edit#gid=381399653" target="_blank"><img class="card-img-top" src="../static/img/seeds.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Tournament seeding</h4>
            <p class="card-text">One of my hobbies is competing in Super Smash Bros. tournaments. I built a highly automated spreadsheet to allow tournament organizers to quickly and easily seed players while avoiding regional conflicts. The next step is to make it fully automated with Python!</p>
          </div>
          <div class="card-footer">
            <a href="https://docs.google.com/spreadsheets/d/18oNmPEYWT3m7j1UW1nst1okqB3AA_yoa6gBuJTZGVhI/edit#gid=381399653" target="_blank"class="btn btn-primary">Check it out</a>
          </div>
        </div>
      </div>
    <!-- /.row -->
  </div>

{% endblock content %}
