{% extends "layout.html" %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/brain_connectivity.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>Projects</h2>
            <span class="subheading">Some of the cool things I've worked on</span>
          </div>
        </div>
      </div>
    </div>
  </header>

 <!-- Page Content -->
  <div class="container">


    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="/cashback"><img class="card-img-top" src="../static/img/CC_Images/alliant.jpeg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Cash back optimizer</h4>
            <p class="card-text">Input your monthly spending in various categories and this web app will calculate the optimal combination of credit cards to maximize your cash back! Built with Python. <br/><br/>Try it for yourself! </p>
          </div>
          <div class="card-footer">
            <a href="/cashback" class="btn btn-primary">Check it out</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://github.com/mwang29/epidemic_model"><img class="card-img-top" src="../static/img/sir.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Epidemic model and mitigation</h4>
            <p class="card-text">Led a team of 5 in building a tool to simulate the spread of disease and analyze mitigation strategies. Includes population synthesis, database design, disease spread simulation, and web design. Built with R, SQL, HTML/CSS, and more.</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/mwang29/epidemic_model" class="btn btn-primary">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://github.com/nasa/SMCPy"><img class="card-img-top" src="../static/img/smcpy.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">SMCPy</h4>
            <p class="card-text">Sequential Monte Carlo in Python. During my internship at NASA, I created new modules and refactored this Python package for uncertainty quantification. It is used for applications like crack diagnosis and landing area prediction. </p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/nasa/smcpy" class="btn btn-primary">GitHub</a>
          </div>
        </div>
      </div>

    </div>


        <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://github.com/mwang29/ltc_project"><img class="card-img-top" src="../static/img/ltc.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Long term care facilities</h4>
            <p class="card-text">Web scraped data of Indiana's Long Term Care Facilities to plot each facilitiy on a map of the state according to their type and beds available. Project for the Regenstrief Center of Healthcare Engineering. Built with Python.</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/mwang29/ltc_project" class="btn btn-primary">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://github.com/mwang29/personal_website"><img class="card-img-top" src="../static/img/website.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Personal website</h4>
            <p class="card-text">You're looking at it right now! I taught myself Flask and made my own corner of the Internet. I've made the source code public on my GitHub profile; feel free to check it out below!</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/mwang29/personal_website" class="btn btn-primary">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <a href="https://docs.google.com/spreadsheets/d/18oNmPEYWT3m7j1UW1nst1okqB3AA_yoa6gBuJTZGVhI/edit#gid=381399653"><img class="card-img-top" src="../static/img/seeds.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Tournament seeding</h4>
            <p class="card-text">One of my hobbies is competing in Smash Bros. tournaments. I built a highly automated spreadsheet to assist tournament organizers quickly and easily seed players to avoid regional conflicts. The next step is to make it fully automated with Python!</p>
          </div>
          <div class="card-footer">
            <a href="https://docs.google.com/spreadsheets/d/18oNmPEYWT3m7j1UW1nst1okqB3AA_yoa6gBuJTZGVhI/edit#gid=381399653" class="btn btn-primary">Check it out</a>
          </div>
        </div>
      </div>
    <!-- /.row -->

  </div>

{% endblock content %}

