{% extends "layout.html" %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/brain_connectivity.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>Projects</h2>
            <span class="subheading">Some of the things I've been working on</span>
          </div>
        </div>
      </div>
    </div>
  </header>

 <!-- Page Content -->
  <div class="container">


    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../static/img/CC_Images/alliant.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-title">Cash back optimizer</h4>
            <p class="card-text">Input your monthly spending in various categories and this web app will calculate the optimal combination of credit cards to maximize your cash back! Built with Python. </p>
          </div>
          <div class="card-footer">
            <a href="/cashback" class="btn btn-primary">Check it out</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../static/img/seeds.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tournament seeding</h4>
            <p class="card-text">One of my hobbies is competing in Smash Bros. tournaments. I built a highly automated spreadsheet to assist tournament organizers quickly and easily seed players to avoid regional conflicts.</p>
          </div>
          <div class="card-footer">
            <a href="https://docs.google.com/spreadsheets/d/18oNmPEYWT3m7j1UW1nst1okqB3AA_yoa6gBuJTZGVhI/edit#gid=381399653" class="btn btn-primary">Check it out!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="http://www.github.com" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>

{% endblock content %}
