{% extends "layout.html" %}
{% block content %}

<div class="jumbotron" style="background-image: url(../static/img/grey_thin.jpg); background-size: 10%;">
   <div class="container for-about">
   </div>
</div>
 <body style="margin: 0 auto;">
        <div align="center"><iframe src="../static/Wang_Michael_Resume.pdf" frameborder="0"
         style="overflow:hidden;
         display:block; position: absolute; height: 100%; width: 100%"></div>
<p style="">
         Your browser does not support iframes.
</p>
</body>
{% endblock content %}
